{% extends 'base.html' %}
{% block title %} Government Jobs Updates 2020 {% endblock title %}
{% block gjobactive %} active {% endblock gjobactive %}

{% block body %}

<div class="mid-frame my-4 d-flex flex-row flex-wrap mx-auto" style="width: 100%; justify-content: center;">

    <div class="container col-md-7 mx-0">
        <div class="search-section d-flex flex-wrap flex-row mb-2 border rounded p-2">
            <h4 class="col-md-7"> Latest Government post </h4>
            <form method="get" action="/job/gsearch" class="form-inline my-2 my-lg-0 col-md-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Category Name" name="gquery" id="gquery"
                    aria-label="Search" style="width: 60%;">
                <button class="btn btn-outline-primary my-2 my-sm-0 ml-1" type="submit"
                    style="width: 30%;">Search</button>
            </form>
        </div>

        {% for LatestGovJobPost in allLatestGovJobPost %}
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250     position-relative">

            <img src="https://economicinfo-storage-space.nyc3.digitaloceanspaces.com/economicinfo-static/{{LatestGovJobPost.image}}"
                class="mr-1 ml-1 my-2 img-fluid" alt="image" style="height:100px; width:100px">

            <div class="col p-3 d-flex flex-column position-static">
                <h5 class="mb-0"> <a class="text-dark" href="/job/recent/{{LatestGovJobPost.Gslug}}" target="_blank">
                        {{LatestGovJobPost.title}} </a> </h5>
                <div class="mb-1 text-muted"> <small> Posted on : {{LatestGovJobPost.timeStamp}} </small> <br> <span class="d-inline-block text-dark"> Category : {{LatestGovJobPost.category}} </span> <br>
                    <span class="d-inline-block mb-1 text-dark"> Source : {{LatestGovJobPost.author}} </span> <br>
                    <i class="fa fa-map-marker"></i> : {{LatestGovJobPost.location}} 
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <aside class="col-md-3 ml-0">

        {% comment %} <div class="p-3" style=" background-color: #2664C8;">
            <!-- style="background-color: #b2cef3;" -->

            <h5 style="color: white;" >Download Exam Pdf</h5>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner ">
                  <div class="carousel-item active" style="width: 100%; justify-content: center;" >
                      <div class="col-md-10 mx-auto" >
                          <div class="card my-2 bg-white" style="width: auto;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the .</p>
                              <a href="#" class="btn btn-primary">Download</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item " style="width: 100%; justify-content: center;">
                    <div class="col-md-10 mx-auto" >
                        <div class="card my-2 bg-white" style="width: auto;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the .</p>
                              <a href="#" class="btn btn-primary">Download</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item " style="width: 100%; justify-content: center;">
                    <div class="col-md-10 mx-auto" >
                        <div class="card my-2 bg-white" style="width: auto;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the .</p>
                              <a href="#" class="btn btn-primary">Download</a>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>        
        </div> {% endcomment %}

        {% comment %} <hr class="bg-dark"> {% endcomment %}

        <div class="p-3 bg-light">
            <h5>Subscribe for latest Job Updates</h5>

            <form method="post" , action="/job/latest">
                {% csrf_token %}
                <div class="type p-1 " style="background-color: white;">
                    <input type="email" class="form-control" id="useremail" name="useremail"
                        placeholder="Enter Email Address here" aria-describedby="email">
                </div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your information with
                    anyone.</small>
                <button type="submit" class="btn btn-primary my-2 col-md-6 ">Subscribe</button>
            </form>
        </div>

        <hr class="bg-dark">

        <div class="book p-2 mb-4 my-4" style="justify-content: center;">

            <h5 class="ml-2"> Exam Books </h5>
            <hr>
            {% for BookPost in allBookPost %}
            <div class="d-flex flex-row flex-wrap my-0 " style="justify-content: center;">

                <iframe class="ml-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0" src="{{BookPost.BookOneUrl}}"></iframe>

                <iframe class="ml-4" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0" src="{{BookPost.BookTwoUrl}}"></iframe>

            </div>

            <div class="d-flex flex-row flex-wrap my-4 " style="justify-content: center;">
                <iframe class="ml-2" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0" src="{{BookPost.BookThreeUrl}}"></iframe>

                <iframe class="ml-4" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0" src="{{BookPost.BookFourUrl}}"></iframe>
            </div>

            {% endfor %}

        </div>

    </aside>

</div>

{% endblock body %}