{% extends 'base.html' %}
{% block title %} Search Result Government Jobs {% endblock title %}
{% block body %}

<div class="frame d-flex flex-row flex-wrap my-4 mx-auto" style="width:100%; justify-content:center;">

    <div class="container my-4 col-md-9 mx-0">

        <div class="mid-frame my-4 " style="justify-content: center;">
            <div class="postcont">
                <H2 class="mb-2">Government Jobs Search Result : </H2>
                {% if allGovJobPost|length < 1 %}
                <p> Sorry, No search Reults Found. </p>

                Your Search query - <b>{{gquery}}</b> - did not match any category in any jobs updated on this website.
                <br>
                <br>
                Suggestions :
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try fewer keywords.</li>
                </ul>

                {% endif %}

                {% for GovJobPost in allGovJobPost %}
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250     position-relative">

                    <img src="https://economicinfo-storage-space.nyc3.digitaloceanspaces.com/economicinfo-static/{{GovJobPost.image}}"  class="mr-1 ml-1 my-2 img-fluid" alt="image" style="height:100px; width:100px">

                    <div class="col p-3 d-flex flex-column position-static">
                        <h5 class="mb-0"> <a class="text-dark" href="/job/{{GovJobPost.slug}}" target="_blank">
                                {{GovJobPost.title}} </a></h5>
                        <div class="mb-1 text-muted">{{GovJobPost.timeStamp}} 
                            <strong> Category : {{GovJobPost.category}} </strong> <br>
                            Source : {{GovJobPost.author}} <br>
                            <strong> <i class="fa fa-map-marker"></i> : {{GovJobPost.location }} </strong>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>

{% endblock body %}