{% extends 'base.html' %}
{% block title %} {{privatetrendgpost.title}} {% endblock title %}
{% block body %}

<div class="mid-frame d-flex flex-row flex-wrap my-4 mx-auto" style="width: 100%; justify-content: center;">

        <div class="container col-md-8 my-4 mx-0">
                <h2 class="news-post-title"> {{privatetrendgpost.title}} </h2>
                <p class="news-post-meta mb-1">Posted at : {{privatetrendgpost.timeStamp}} | <strong
                                class="d-inline-block mb-1 text-primary"> Source: {{privatetrendgpost.author}} </strong>
                
                <hr class="bg-dark">
                <div class="sharethis-inline-share-buttons"></div>
                <hr class="bg-dark">
                <p class="my-2"> {{privatetrendgpost.content|safe}} </p>
                <hr>
                <div class="fb-comments mx-auto" data-href="http://127.0.0.1:8000/news/{{privatetrendgpost}}"
                        data-numposts="5" data-width=""></div>
        </div>

</div>

{% endblock body %}