{% extends 'base.html' %}
{% block title %} {{trendgpost.title}} {% endblock title %}
{% block body %}

<div class="container shadow p-3 my-4 mb-4 bg-white my-4 col-md-8">
        <h2 class="news-post-title"> {{trendgpost.title}} </h2>
        <p class="news-post-meta mb-1">Posted at : {{trendgpost.timeStamp}} | <strong
        class="d-inline-block mb-1 text-primary"> Source: {{trendgpost.author}} </strong> |
        <div class="fb-like" data-href="http://127.0.0.1:8000/news/{{trendgpost}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        <p class="my-2"> {{trendgpost.content|safe}} </p>
        <hr>
        <div class="fb-comments mx-auto" data-href="http://127.0.0.1:8000/news/{{trendgpost}}" data-numposts="5" data-width=""></div>
</div>

{% endblock body %}

