{% extends 'base.html' %}
{% block title %} 404 Error Page
{% endblock title %}
{% comment %} {% block homeactive %} active {% endblock homeactive %} {% endcomment %}
{% block body %}

<div class="p-4" >
    <div class="jumbotron mx-4 bg-light">
        <h1 class="display-4">404 Error Page! <i class="fa fa-frown-o" ></i></h1>
        <p class="lead">Sorry, This page is not available or does not exists. <Table></Table></p>
        <hr class="my-4">
        <p>Go back to homepage</p>
        <a class="btn btn-primary " href="/" role="button">Homepage</a>
    </div>
</div>

{% endblock body %}

