{% extends 'base.html' %}
{% block title %} {{fnewspost.title}} {% endblock title %}
{% block body %}

    <div class="container my-4 col-md-8 shadow p-3 my-4 mb-4 bg-white ">
        <h2 class="news-post-title"> {{fnewspost.title}} </h2>
        <p class="news-post-meta mb-1 text-muted">Posted at : {{fnewspost.timeStamp}} | 
            <strong class="d-inline-block mb-1 text-primary"> Source: {{fnewspost.author}} </strong>
             | ({{fnewspost.views}} views)
            <div class="fb-like" data-href="http://127.0.0.1:8000/news/{{fnewspost}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        <p class="my-2"> {{fnewspost.content|safe}} </p>
        <hr>
        <p> <a href="/news/finance"> <button type="button" class="btn btn-sm btn-outline-dark"> <i class="fa fa-arrow-left"></i>  Check more finance news</button> </a> </p>

        <div class="fb-comments mx-auto" data-href="http://127.0.0.1:8000/news/{{fnewspost}}" data-numposts="5" data-width=""></div>
    </div>

{% endblock body %}


